.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

* {
    margin: 0;
    box-sizing: border-box;
}

/* Header */
header {
    height: 90px;
}

header .Header_nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 16px 120px;
}

header .logo {
    height: 60px;
    width: 139px;
}

header .item {
    display: flex;
    list-style: none;
    gap: 32px;
    font-size: 16px;
    cursor: pointer;
}

/* Button */
button {
    padding: 12px 16px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: aliceblue;
    background-color: rgba(48, 184, 104, 1);
    transition: 0.5s ease;
}

button:hover {
    background-color: rgba(10, 94, 46, 0.8);
    cursor: pointer;
}

/* Main Section */
.Main_art {
    background-image: url("../assets/hero-bg.png");
    width: 100%;
    height: 674px;
}

.Main_art .banner_sizing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 120px 134px;
}

.Main_art .Art_item1 {
    display: flex;
    list-style: none;
    gap: 6px;
    align-items: center;
    padding: 8px 12px;
    background-color: aliceblue;
    border-radius: 50px;
}

.Main_art .headline {
    font-size: 72px;
    font-weight:48px; /* Bold */
    text-align: center;
    color: white;
    padding-bottom: 32px;
}

.Main_art .headline .headline_2 {
    color: rgba(48, 184, 104, 1);
}

.Main_art .Headline_text {
    font-size: 18px;
    color: white;
    text-align: center;
    padding-left: 220px ;
    padding-right: 220px ;  
}

.Main_art .Headline_btn {
    font-size: 18px;
    text-align: center;
    padding-top: 32px;
    display: flex;
    gap: 15px;
}

.Main_art .Work_btn {
    background-color: transparent;
    display: flex;
    align-items: center;
}

.Main_art #play {
    background-color: transparent;
}

