.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

* {
    margin: 0;
    box-sizing: border-box;
}

/* Header */
header {
    height: 90px;
}

header .Header_nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 16px 120px;
}

header .logo {
    height: 60px;
    width: 139px;
}

header .item {
    display: flex;
    list-style: none;
    gap: 32px;
    font-size: 16px;
    cursor: pointer;
}

/* Button */
button {
    padding: 12px 16px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: aliceblue;
    background-color: rgba(48, 184, 104, 1);
    transition: 0.5s ease;
}

button:hover {
    background-color: rgba(10, 94, 46, 0.8);
    cursor: pointer;
}

/* Main Section */
.Main_art {
    background-image: url("../assets/hero-bg.png");
    width: 100%;
    height: 674px;
}

.Main_art .banner_sizing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 120px 134px;
}

.Main_art .Art_item1 {
    display: flex;
    list-style: none;
    gap: 6px;
    align-items: center;
    padding: 8px 12px;
    background-color: aliceblue;
    border-radius: 50px;
}

.Main_art .headline {
    font-size: 72px;
    font-weight: 48px;
    /* Bold */
    text-align: center;
    color: white;
    padding-bottom: 32px;
}

.Main_art .headline .headline_2 {
    color: rgba(48, 184, 104, 1);
}

.Main_art .Headline_text {
    font-size: 18px;
    color: white;
    text-align: center;
    padding-left: 220px;
    padding-right: 220px;
}

.Main_art .Headline_btn {
    font-size: 18px;
    text-align: center;
    padding-top: 32px;
    display: flex;
    gap: 15px;
}

.Main_art .Work_btn {
    background-color: transparent;
    display: flex;
    align-items: center;
}

.Main_art #play {
    background-color: transparent;
}

/* Article Section */
.item1 {
    margin: 0px 120px 120px 120px;
    background-color: rgba(255, 255, 255, 1);
}

.item1 .article_head {
    text-align: center;
    margin-top: 49px;
    margin-bottom: 44px;
    font-size: 16px;
}

.item1 h2 {
    font-size: 48px;
    font-weight: 48px;
    padding-bottom: 16px;
}

.item1 .Cards {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    height: 322px;
}

.item1 .Cards .card {
    margin: 24px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 8px 8px 0px rgba(35, 3, 3, 0.06);
    padding: 24px;
    font-size: 16px;
    transition: 0.3s ease;
}

.item1 .Cards .card:hover {
    box-shadow: 0px 12px 16px rgba(23, 3, 3, 0.15);
    cursor: pointer;
}

.item1 .Cards p {
    color: rgba(98, 115, 130, 1);
}

.item1 .Cards h5 {
    font-size: 24px;
    font-weight: 42px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.item1 .Card_img {
    background: rgba(249, 85, 85, 1);
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 15px;
}

/* Section Item */
.section_Item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 120px 120px 120px;
    gap: 60px;
}

.section_Item #Section_img {
    height: 600px;
    width: 600px;
}

.section_Item #Section_heading {
    font-size: 18px;
    text-align: left;
    color: rgba(48, 184, 104, 1);
    margin-bottom: 20px;
}

.section_Item .Section_headline {
    font-weight: 48px;
    font-size: 48px;
    margin-bottom: 20px;
}

.section_Item p {
    color: rgba(98, 115, 130, 1);
    font-size: 16px;
}

.section_Item .section_list {
    font-size: 16px;
    text-align: left;
    list-style: none;
    margin-top: 40px;
    padding: 0;

}

.section_Item li {
    text-align: center;
    display: flex;
    justify-content: start;
    align-items: center;
}

.section_Item span {
    padding: 15px;
}


/* Last Item */
.Last_item {
    background-color: rgb(241, 240, 239);
    text-align: center;
    margin: 2px 160px 120px 160px;
    padding: 80px 40px 80px 40px;
}

.Last_item h3 {
    font-weight: 48px;
    font-size: 40px;
}

.Last_item p {
    font-weight: 400;
    margin: 16px 24px 24px;
    font-size: 16px;
    text-align: center;
}

.Last_item button {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    border-radius: 4px;
    font-size: 16px;
    color: aliceblue;
    background-color: rgba(48, 184, 104);
    cursor: pointer;
    border: none;
}

.Last_item button:hover {
    background-color: rgba(45, 175, 99, 0.8);
}